*{
    font-family: Arial, Helvetica, sans-serif;
}
.first{
   
   margin-bottom: 20%;
   padding-left: 14%;   
   
}
.logo{
margin-top: 15%;
padding-right: 5%;

}
    
.form1{
margin-top: 10%;


}
img{
    margin-left: -28px;
}
table td input{    
    height: 50px;
    
}
.form-control
{
    border-radius: 6px;
}
.form-control:focus{
      
    border-color: #0275d8;
}
table td{
    
   padding: 15px 15px 0px 15px; 
    width: 396px;
    
}
#btn1{
    color: white;
    font-size: 17px ;.
    font-weight: bold;
    background-color: #42B72A;
    text-decoration: none;
    width: 200px;
    margin: auto;
    margin-bottom: 25px;
    
    
    
}
#btn1:hover{
    background-color: #36a420;  

    
}
a{
    text-decoration: none;
    
}
 a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    
}
li {
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    
    font-size: 12px;
}
li a{
color: #8A8D91;
}
li a:hover{
    color: #8A8D91;
    text-decoration: underline;
    }
