body{
    background-color:#fff;
    font-family: auto;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.8;
    
}
.top-header{
color: white;
background-image: linear-gradient(to right ,#81567f, #c8dee0);
height: 165px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img{   
    
    margin-top:9%;
}
 .border-line{
    
    border: 1px solid black;
   
}
/*
bd-placeholder-img rounded-circle
https://github.com/aswathiedayillyam/My_resume.git

https://aswathiedayillyam.github.io/My_resume/
*/